In [1]:
import pandas as pd
import requests

In [49]:
import pandas as pd
import requests

url = 'https://www.pro-football-reference.com/years/2021/rushing.htm'
resp = requests.get(url)
resp

output = open('./nfl_data/2021_rushing_stats.xls', 'wb')
output.write(resp.content)
output.close()

In [50]:
position = ['rushing', 'passing', 'receiving']

for element in position:
    url = f'https://www.pro-football-reference.com/years/2021/{element}.htm'
    resp = requests.get(url)
    
    output = open(f'./nfl_data/2021_{element}_stats.xls', 'wb')
    output.write(resp.content)
    output.close()

In [4]:
df_wr = pd.read_html('./nfl_data/2021_receiving_stats.xls')
df_wr = pd.DataFrame(df_wr[0]) # Saves df var to dataframe
#df_wr = df_rb.droplevel(0, axis=1) # Removes first level column
df_wr

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,1,Cooper Kupp*+,LAR,28,WR,17,17,191,145,75.9%,1947,13.4,16,89,59,10.2,8.5,114.5,0
1,2,Davante Adams*+,GNB,29,WR,16,16,169,123,72.8%,1553,12.6,11,84,59,9.2,7.7,97.1,0
2,3,Tyreek Hill*,KAN,27,WR,17,16,159,111,69.8%,1239,11.2,9,75,75,7.8,6.5,72.9,2
3,4,Justin Jefferson*,MIN,22,WR,17,17,167,108,64.7%,1616,15.0,10,75,56,9.7,6.4,95.1,1
4,5,Mark Andrews*+,BAL,26,te,17,9,153,107,69.9%,1361,12.7,9,75,43,8.9,6.3,80.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,508,Seth Williams,DEN,21,wr,2,1,1,1,100.0%,34,34.0,0,1,34,34.0,0.5,17.0,0
524,509,Trayveon Williams,CIN,24,NaN,5,0,2,1,50.0%,4,4.0,0,0,4,2.0,0.2,0.8,0
525,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
526,510,Easop Winston,NOR,25,NaN,3,1,1,1,100.0%,5,5.0,0,0,5,5.0,0.3,1.7,0
527,511,Deon Yelder,TAM,26,NaN,5,0,1,1,100.0%,0,0.0,0,0,0,0.0,0.2,0.0,0

In [5]:
df_qb = pd.read_html('./nfl_data/2021_passing_stats.xls')
df_qb = pd.DataFrame(df_qb[0]) # Saves df var to dataframe
#df_qb = df_rb.droplevel(0, axis=1) # Removes first level column
df_qb

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady*,TAM,44,QB,17,17,13-4-0,485,719,...,312.7,102.1,68.1,22,144,3,6.98,7.41,3,5
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,...,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,...,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes*,KAN,26,QB,17,17,12-5-0,436,658,...,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,...,282.6,94.0,52.4,40,241,6,6.85,6.60,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,111,Cordarrelle Patterson,ATL,30,RB,16,13,NaN,0,1,...,0.0,39.6,2.9,0,0,0,0.00,0.00,NaN,NaN
114,112,Brett Rypien,DEN,25,NaN,1,0,NaN,0,2,...,0.0,39.6,1.1,0,0,0,0.00,0.00,NaN,NaN
115,113,D'Andre Swift,DET,22,rb,13,4,NaN,0,1,...,0.0,39.6,0.5,0,0,0,0.00,0.00,NaN,NaN
116,114,Albert Wilson,MIA,29,wr,14,5,NaN,0,1,...,0.0,39.6,0.0,1,1,50,-0.50,-0.50,NaN,NaN
117,115,Brandon Zylstra,CAR,28,wr,13,3,NaN,0,1,...,0.0,39.6,0.4,0,0,0,0.00,0.00,NaN,NaN

In [6]:
df_rb = pd.read_html('./nfl_data/2021_rushing_stats.xls')
df_rb = pd.DataFrame(df_rb[0]) # Saves df var to dataframe
df_rb = df_rb.droplevel(0, axis=1) # Removes first level column
df_rb

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
0,1,Jonathan Taylor*+,IND,22,RB,17,17,332,1811,18,107,83,5.5,106.5,4
1,2,Najee Harris*,PIT,23,RB,17,17,307,1200,7,62,37,3.9,70.6,0
2,3,Joe Mixon*,CIN,25,RB,16,16,292,1205,13,60,32,4.1,75.3,2
3,4,Antonio Gibson,WAS,23,RB,16,14,258,1037,7,65,27,4.0,64.8,6
4,5,Dalvin Cook*,MIN,26,RB,13,13,249,1159,6,57,66,4.7,89.2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,367,Quez Watkins,PHI,23,WR,17,12,1,3,0,0,3,3.0,0.2,0
379,368,Derek Watt,PIT,29,fb,17,4,1,1,0,1,1,1.0,0.1,0
380,369,Preston Williams,MIA,24,wr,8,3,1,7,0,0,7,7.0,0.9,0
381,370,Andrew Wingard,JAX,25,S,15,15,1,4,0,1,4,4.0,0.3,0
382,371,Olamide Zaccheaus,ATL,24,wr,17,8,1,2,0,1,2,2.0,0.1,0

In [7]:
df_rb.dtypes

Rk        object
Player    object
Tm        object
Age       object
Pos       object
G         object
GS        object
Att       object
Yds       object
TD        object
1D        object
Lng       object
Y/A       object
Y/G       object
Fmb       object
dtype: object

### Convert all wanted columns to int

#### `df_rb`

In [8]:
df_rb.head(2)

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
0,1,Jonathan Taylor*+,IND,22,RB,17,17,332,1811,18,107,83,5.5,106.5,4
1,2,Najee Harris*,PIT,23,RB,17,17,307,1200,7,62,37,3.9,70.6,0

In [9]:
df_rb.columns

Index(['Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Att', 'Yds', 'TD', '1D',
       'Lng', 'Y/A', 'Y/G', 'Fmb'],
      dtype='object')

In [10]:
def drop_rows(position):
    for header in position.columns:
        index_list = position.loc[(position[header] == header)].index
        position.drop(labels=index_list, axis=0, inplace = True)
        return
drop_rows(df_rb)

In [11]:
df_rb.dtypes

Rk        object
Player    object
Tm        object
Age       object
Pos       object
G         object
GS        object
Att       object
Yds       object
TD        object
1D        object
Lng       object
Y/A       object
Y/G       object
Fmb       object
dtype: object

In [12]:
int_cols = ['Att', 'Yds', 'TD', '1D', 'Lng', 'Fmb', 'G', 'GS']
float_cols = ['Y/A', 'Y/G']

for int_col in int_cols:
    df_rb[f'{int_col}'] = df_rb[f'{int_col}'].astype(int)

for float_col in float_cols:
    df_rb[f'{float_col}'] = df_rb[f'{float_col}'].astype(float)

In [13]:
df_rb.dtypes

Rk         object
Player     object
Tm         object
Age        object
Pos        object
G           int32
GS          int32
Att         int32
Yds         int32
TD          int32
1D          int32
Lng         int32
Y/A       float64
Y/G       float64
Fmb         int32
dtype: object

In [44]:
df_rb['Player'] = df_rb['Player'].map(lambda x: x.lstrip('*').rstrip('+').rstrip('*'))
df_rb

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
0,1,Jonathan Taylor,IND,22,RB,17,17,332,1811,18,107,83,5.5,106.5,4
1,2,Najee Harris,PIT,23,RB,17,17,307,1200,7,62,37,3.9,70.6,0
2,3,Joe Mixon,CIN,25,RB,16,16,292,1205,13,60,32,4.1,75.3,2
3,4,Antonio Gibson,WAS,23,RB,16,14,258,1037,7,65,27,4.0,64.8,6
4,5,Dalvin Cook,MIN,26,RB,13,13,249,1159,6,57,66,4.7,89.2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,367,Quez Watkins,PHI,23,WR,17,12,1,3,0,0,3,3.0,0.2,0
379,368,Derek Watt,PIT,29,fb,17,4,1,1,0,1,1,1.0,0.1,0
380,369,Preston Williams,MIA,24,wr,8,3,1,7,0,0,7,7.0,0.9,0
381,370,Andrew Wingard,JAX,25,S,15,15,1,4,0,1,4,4.0,0.3,0
382,371,Olamide Zaccheaus,ATL,24,wr,17,8,1,2,0,1,2,2.0,0.1,0

#### `df_wr`

In [14]:
def drop_rows(position):
    for header in position.columns:
        index_list = position.loc[(position[header] == header)].index
        position.drop(labels=index_list, axis=0, inplace = True)
        return
drop_rows(df_wr)

In [15]:
df_wr.head(2)

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,1,Cooper Kupp*+,LAR,28,WR,17,17,191,145,75.9%,1947,13.4,16,89,59,10.2,8.5,114.5,0
1,2,Davante Adams*+,GNB,29,WR,16,16,169,123,72.8%,1553,12.6,11,84,59,9.2,7.7,97.1,0

In [16]:
def remove_punctuation(column, punc):
    return column.replace(punc, '', regex=True, inplace=True)

In [17]:
remove_punctuation(df_wr['Ctch%'], '%')

In [18]:
int_cols = ['Tgt', 'Rec', 'TD', 'Yds', 'Lng', 'Fmb', 'G', 'GS', '1D']
float_cols = ['Ctch%', 'Y/R', 'R/G', 'Y/Tgt', 'Y/G']

for int_col in int_cols:
    df_wr[f'{int_col}'] = df_wr[f'{int_col}'].astype(int)

for float_col in float_cols:
    df_wr[f'{float_col}'] = df_wr[f'{float_col}'].astype(float)

In [19]:
df_wr.dtypes

Rk         object
Player     object
Tm         object
Age        object
Pos        object
G           int32
GS          int32
Tgt         int32
Rec         int32
Ctch%     float64
Yds         int32
Y/R       float64
TD          int32
1D          int32
Lng         int32
Y/Tgt     float64
R/G       float64
Y/G       float64
Fmb         int32
dtype: object

In [46]:
df_wr['Player'] = df_wr['Player'].map(lambda x: x.lstrip('*').rstrip('+').rstrip('*'))
df_wr

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,1,Cooper Kupp,LAR,28,WR,17,17,191,145,75.9,1947,13.4,16,89,59,10.2,8.5,114.5,0
1,2,Davante Adams,GNB,29,WR,16,16,169,123,72.8,1553,12.6,11,84,59,9.2,7.7,97.1,0
2,3,Tyreek Hill,KAN,27,WR,17,16,159,111,69.8,1239,11.2,9,75,75,7.8,6.5,72.9,2
3,4,Justin Jefferson,MIN,22,WR,17,17,167,108,64.7,1616,15.0,10,75,56,9.7,6.4,95.1,1
4,5,Mark Andrews,BAL,26,te,17,9,153,107,69.9,1361,12.7,9,75,43,8.9,6.3,80.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,507,Christian Wilkins,MIA,26,DT,17,17,1,1,100.0,1,1.0,1,1,1,1.0,0.1,0.1,1
523,508,Seth Williams,DEN,21,wr,2,1,1,1,100.0,34,34.0,0,1,34,34.0,0.5,17.0,0
524,509,Trayveon Williams,CIN,24,NaN,5,0,2,1,50.0,4,4.0,0,0,4,2.0,0.2,0.8,0
526,510,Easop Winston,NOR,25,NaN,3,1,1,1,100.0,5,5.0,0,0,5,5.0,0.3,1.7,0
527,511,Deon Yelder,TAM,26,NaN,5,0,1,1,100.0,0,0.0,0,0,0,0.0,0.2,0.0,0

#### `qb`

In [24]:
drop_rows(df_qb)

In [20]:
df_qb.head(2)

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady*,TAM,44,QB,17,17,13-4-0,485,719,...,312.7,102.1,68.1,22,144,3,6.98,7.41,3,5
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,...,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5

In [21]:
df_qb.fillna(0, inplace=True)

In [25]:
int_cols = ['Cmp', 'Att', 'Yds', 'TD', 'Int', '1D', 'Lng', 'GS', 'Sk', 'Yds.1', '4QC', 'GWD']
float_cols = ['Cmp%', 'TD%', 'Int%', 'Y/A', 'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Rate', 'NY/A', 'ANY/A', 'Sk%']

for int_col in int_cols:
    df_qb[f'{int_col}'] = df_qb[f'{int_col}'].astype(int)

for float_col in float_cols:
    df_qb[f'{float_col}'] = df_qb[f'{float_col}'].astype(float)

In [45]:
df_qb['Player'] = df_qb['Player'].map(lambda x: x.lstrip('*').rstrip('*'))
df_qb

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady,TAM,44,QB,17,17,13-4-0,485,719,...,312.7,102.1,68.1,22,144,3.0,6.98,7.41,3,5
1,2,Justin Herbert,LAC,23,QB,17,17,9-8-0,443,672,...,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,...,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes,KAN,26,QB,17,17,12-5-0,436,658,...,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,...,282.6,94.0,52.4,40,241,6.0,6.85,6.60,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,111,Cordarrelle Patterson,ATL,30,RB,16,13,0,0,1,...,0.0,39.6,2.9,0,0,0.0,0.00,0.00,0,0
114,112,Brett Rypien,DEN,25,0,1,0,0,0,2,...,0.0,39.6,1.1,0,0,0.0,0.00,0.00,0,0
115,113,D'Andre Swift,DET,22,rb,13,4,0,0,1,...,0.0,39.6,0.5,0,0,0.0,0.00,0.00,0,0
116,114,Albert Wilson,MIA,29,wr,14,5,0,0,1,...,0.0,39.6,0.0,1,1,50.0,-0.50,-0.50,0,0
117,115,Brandon Zylstra,CAR,28,wr,13,3,0,0,1,...,0.0,39.6,0.4,0,0,0.0,0.00,0.00,0,0

#### create TE df by grabbing te data from wr df

In [47]:
df_te = df_wr.loc[(df_wr['Pos'] == 'TE'.lower())].copy()
df_te

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
4,5,Mark Andrews,BAL,26,te,17,9,153,107,69.9,1361,12.7,9,75,43,8.9,6.3,80.1,1
33,33,Mike Gesicki,MIA,26,te,17,9,112,73,65.2,780,10.7,2,39,40,7.0,4.3,45.9,0
52,52,Pat Freiermuth,PIT,23,te,16,9,79,60,75.9,497,8.3,7,34,24,6.3,3.8,31.1,1
72,71,Hunter Henry,NWE,27,te,17,10,75,50,66.7,603,12.1,9,34,35,8.0,2.9,35.5,0
78,77,Jared Cook,LAC,34,te,16,10,83,48,57.8,564,11.8,4,31,42,6.8,3.0,35.3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,470,Nick Boyle,BAL,28,te,5,3,2,1,50.0,2,2.0,0,0,2,1.0,0.2,0.4,0
488,474,Darrell Daniels,ARI,27,te,15,4,4,1,25.0,0,0.0,0,0,0,0.0,0.1,0.0,0
495,480,Daniel Helm,LVR,26,te,9,1,2,1,50.0,-1,-1.0,0,0,0,-0.5,0.1,-0.1,0
504,489,Hunter Long,MIA,23,te,7,2,3,1,33.3,8,8.0,0,0,8,2.7,0.1,1.1,0
520,505,Eric Tomlinson,BAL,29,te,17,7,1,1,100.0,7,7.0,0,0,7,7.0,0.1,0.4,0

In [48]:
df_te['Player'] = df_te['Player'].map(lambda x: x.lstrip('*').rstrip('+').rstrip('*'))
df_te

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
4,5,Mark Andrews,BAL,26,te,17,9,153,107,69.9,1361,12.7,9,75,43,8.9,6.3,80.1,1
33,33,Mike Gesicki,MIA,26,te,17,9,112,73,65.2,780,10.7,2,39,40,7.0,4.3,45.9,0
52,52,Pat Freiermuth,PIT,23,te,16,9,79,60,75.9,497,8.3,7,34,24,6.3,3.8,31.1,1
72,71,Hunter Henry,NWE,27,te,17,10,75,50,66.7,603,12.1,9,34,35,8.0,2.9,35.5,0
78,77,Jared Cook,LAC,34,te,16,10,83,48,57.8,564,11.8,4,31,42,6.8,3.0,35.3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,470,Nick Boyle,BAL,28,te,5,3,2,1,50.0,2,2.0,0,0,2,1.0,0.2,0.4,0
488,474,Darrell Daniels,ARI,27,te,15,4,4,1,25.0,0,0.0,0,0,0,0.0,0.1,0.0,0
495,480,Daniel Helm,LVR,26,te,9,1,2,1,50.0,-1,-1.0,0,0,0,-0.5,0.1,-0.1,0
504,489,Hunter Long,MIA,23,te,7,2,3,1,33.3,8,8.0,0,0,8,2.7,0.1,1.1,0
520,505,Eric Tomlinson,BAL,29,te,17,7,1,1,100.0,7,7.0,0,0,7,7.0,0.1,0.4,0